.Button {
  background-color: $primary;
  border: none;
  border-radius: 50px;
  color: $white;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  padding: 10px 35px;
  text-transform: uppercase;

  &--buy {
    background-color: $orange;

    @media screen and (max-width: $tablet) {
      padding: 15px 35px;
      width: 90%;
    }
  }

  &--link {
    background-color: transparent;
    border: none;
    color: $primary;
    font-size: 14px;
    font-weight: 400;
    padding: 0;
    text-decoration: underline;
    text-transform: initial;
  }

  &--icon {
    align-items: center;
    display: flex;

    img {
      height: 16px;
      margin: 0 8px 0 0;
    }
  }

  &--filter {
    display: none;
    padding: 0;
    width: 20px;

    @media screen and (max-width: $tablet) {
      display: block;
    }

    img {
      width: 100%;
    }
  }

  &:hover {
    text-decoration: none;
  }
}
