.Comparison {
  list-style-type: none;
  margin: 0;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;

  &__Result {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;

    &__Item {
      color: rgba($black, 0.6);
      font-size: 12px;
    }
  }
}
