.Filters {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__Wrapper {
    align-items: center;
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba($black, 0.14),
      0 2px 1px -1px rgba($black, 0.12), 0 1px 3px 0 rgba($black, 0.2);
    display: flex;
    padding: 15px;
    width: 960px;

    &__Filter {
      flex: 1;
      padding: 0 15px;
    }
  }
}
