.Filters {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $tablet) {
    background-color: rgba($white, 0.95);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &--mobile {
    display: block !important;
  }

  &__Wrapper {
    align-items: center;
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba($black, 0.14),
      0 2px 1px -1px rgba($black, 0.12), 0 1px 3px 0 rgba($black, 0.2);
    display: flex;
    padding: 15px;
    width: 960px;

    @media screen and (max-width: $desktop) {
      width: 100%;
    }

    @media screen and (max-width: $tablet) {
      background-color: transparent;
      box-shadow: none;
      flex-direction: column;
      padding: 80px 30px 0 30px;
    }

    &__Filter {
      flex: 1;
      padding: 0 15px;

      @media screen and (max-width: $tablet) {
        margin: 0 0 30px 0;
        padding: 0;
        width: 100%;
      }

      .rc-slider {
        @media screen and (max-width: $tablet) {
          display: none;
        }
      }
    }
  }
}
