.Rating {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;

  &__Star {
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0 5px 0 0;
    text-indent: -5000px;
    width: 16px;

    &--fill {
      background-image: url('../images/star-fill.svg');
      font-weight: 700;
    }
  }
}
