.Results {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__Result {
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0 0 15px 0;
    width: 960px;

    &__Image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 250px;

      img {
        display: none;
      }
    }

    &__Data {
      flex: 1;
      padding: 15px;

      &__Name {
        color: rgba($black, 0.8);
        margin: 0 0 5px 0;
        padding: 0;
      }
    }

    &__Prices {
      align-items: center;
      border-left: rgba(0, 0, 0, 0.12) 1px solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 200px;

      &__Price {
        color: rgba($black, 0.8);
        font-size: 25px;
        font-weight: 700;
      }
    }
  }
}
