.Ribbon {
  background-color: $orange;
  color: $white;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  margin: 10px 0 0 -10px;
  padding: 3px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: transparent $orangeDark transparent transparent;
    position: absolute;
    left: 0;
    bottom: -10px;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 0 9px 10px;
    border-color: transparent transparent transparent $orange;
    position: absolute;
    right: -10px;
    top: 0px;
  }

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
