.Sort {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 15px 0;

  &__Wrapper {
    align-items: center;
    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 15px;
    width: 960px;

    &__Form {
      align-items: center;
      display: flex;
    }

    &__Overview {
      line-height: 20px;
      margin: 0 0 0 15px;
    }
  }
}
