@import 'normalize/import-now';

// Font Family
$Helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//colors
$black: #000;
$blue: #4f94dc;
$green: #0c9e1e;
$orange: #ff5200;
$orangeDark: #b13d1e;
$red: #e00000;
$white: #fff;

$primary: $blue;

// Media Queries
$desktop: 1024px;
$tablet: 720px;

body {
  background-color: rgba($black, 0.05);
  font-family: $Helvetica;
  font-weight: 400;
}

button {
  outline: none;
}

@import 'header';
@import 'filters';
@import 'sort';
@import 'results';
@import 'resultsImage';
@import 'rating';
@import 'tags';
@import 'comparison';
@import 'button';
@import 'ribbon';
@import 'slider';
@import 'modal';
@import 'gmaps';
@import 'grade';
@import 'favorite';
@import 'notifier';
