@import 'normalize/import-now';

// Font Family
$Helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//colors
$black: #000;
$blue: #4f94dc;
$orange: #ff5200;
$orangeDark: #b13d1e;
$white: #fff;

$primary: $blue;

// Media Queries
$desktop: 1024px;
$tablet: 720px;

body {
  background-color: rgba($black, 0.05);
  font-family: $Helvetica;
  font-weight: 400;
}

@import 'header';
@import 'sort';
@import 'results';
@import 'rating';
@import 'tags';
@import 'button';
@import 'ribbon';
